<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Form</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <style>
        body {
            background: dimgrey;
        }
    </style>
</head>
<body>
<div></div>
<div></div>
<div class="container">
    <h1>WYBIERZ MECZ, KTÓRY CHCESZ EDYTOWAC</h1>

    <form th:action="@{/edit?action=SAVE_BET}" id="bet" method="post">
        <b>Wybierz mecz</b>
        <label>
            <select name="matchID" form="bet" >
                <option value="NULL" selected>Mecz....</option>
                <option th:value="${match.id}" th:each="match:${listToBet}" th:text="${match}">
                </option>
            </select>
        </label>
        <b>Obstaw wynik</b>
        <label>
            <select name="score" form="bet">
                <option value="NULL" selected>Wynik....</option>
                <option th:each="score:${scoreList}" th:value="${score}" th:text="${score}">
                </option>
            </select>
        </label>
        <label>
            <input type="number" name="betMoney">
        </label>
        <button type="submit" class="btn btn-primary">Obstaw wynik</button>
    </form>
</div>
</body>