<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

</head>
<body background="https://layout.eurosport.com/i/v8/match/backgrounds/large/background_v8_s22.jpg">

<div class="container" th:width="400">
    <a th:href="@{/?action=HOME}" class="btn btn-primary">Strona główna</a>
    <table class="table table-hover table-dark">
        <thead class="thead-light">
        <tr>
            <th scope="col" style="margin: auto">ID ZAKŁADU</th>
            <th scope="col" style="margin: auto">MECZ</th>
            <th scope="col" style="margin: auto">OBSTAWIONY WYNIK</th>
            <th scope="col" style="margin: auto">POSTAWIONE PIENIĄDZE</th>
            <th scope="col" style="margin: auto">STATUS</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="bet:${betList}">
            <th scope="row" style="margin: auto" th:text="${bet.id}">1</th>
            <th scope="row" style="margin: auto" th:text="${bet.match}">2</th>
            <th scope="row" style="margin: auto" th:text="${bet.outcome}">3</th>
            <th scope="row" style="margin: auto" th:text="${bet.money}+zł">4</th>
            <th scope="row" style="margin: auto" th:if="${bet.actualOutcome!=null}"><a th:text="${bet.actualOutcome}"></a> </th>
            <th scope="row" style="margin: auto" th:if="${bet.actualOutcome==null}"><a th:text="|Mecz nierozstrzygnięty|">--</a></th>
        </tr>
        </tbody>
    </table>

</div>
</body>
</html>