<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Form</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

</head>
<body background="https://layout.eurosport.com/i/v8/match/backgrounds/large/background_v8_s22.jpg">
<div></div>
<div></div>
<div></div>
<div class="mx-auto" style="width: 400px;"><h2 style="color: aliceblue">Dodaj mecz do naszej bazy</h2></div>
<div></div>
<div class="mx-auto" style="width: 400px;">
<div class="container">
    <form th:object="${newMatch}" th:action="@{/saveMatch}" method="post">
        <div class="form-group">

            <input required type="text" class="form-control" th:field="*{gospodarze}" name="gospodarze"placeholder="Gospodarze">
        </div>
        <div class="form-group">
            <input required type="text" class="form-control" th:field="*{goscie}" name="goscie" placeholder="Goscie">
        </div>
        <div class="form-group">
            <input required type="date" class="form-control" th:field="*{date}" name="data" placeholder="Data">
        </div>
        <div class="form-group">
            <input required type="text" class="form-control" th:field="*{rate}" name="rate" placeholder="Kurs">
        </div>
        <button type="submit"  class="btn btn-primary">Dodaj</button>
    </form>
</div>
</div>
</body>
</html>