<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <style type="text/css">
        .block2 {
            width: 200px;
            margin-top: 1px;
            margin-right: 1px;
        }
    </style>
</head>
<body background="https://layout.eurosport.com/i/v8/match/backgrounds/large/background_v8_s22.jpg">
<div class="container" style="margin: auto">
    <div class="block2">
        <a style="color: aliceblue;" th:text="${ActiveUser}">jojo</a>
        <a  th:if="${ActiveUser!=null}"><a th:href="@{/logout}" class="btn btn-primary">Wyloguj</a></a>
    </div>
    <h1 class="display-4" style="color: aliceblue">Bukmacher.pl</h1>
    <img th:src="@{/images.jpg}">
    <p class="lead" style="color: aliceblue">Zdzieramy pieniądze zawodowo!</p>
<div class="jumbotron" >

    <h4>Witaj na stronie startowej.</h4>
    <hr class="my-4">

    <p>Dostępne opcje:</p>
    <a th:href="@{/allMatches}" class="btn btn-primary">Wszystkie mecze</a>
    <a th:href="@{/newMatch}" class="btn btn-primary">Dodaj mecz</a>
    <a th:href="@{/betCreate}" class="btn btn-primary">Zagraj</a>
    <a th:href="@{/bets}" class="btn btn-primary">Wszystkie zakłady</a>
    <a th:if="${ActiveUser==null}"><a th:href="@{/register}" class="btn btn-primary">Rejestracja</a></a>
    <a th:if="${ActiveUser==null}"><a th:href="@{/login}" class="btn btn-primary">Zaloguj</a></a>
</div>

</div>






<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>
</html>