<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

</head>
<body background="https://layout.eurosport.com/i/v8/match/backgrounds/large/background_v8_s22.jpg">

<div class="container" th:width="400">
    <a th:href="@{/match?action=EDIT_MATCHES}" class="btn btn-primary">Edytuj listę</a>
    <a th:href="@{/?action=HOME}" class="btn btn-primary">Strona główna</a>
    <table class="table table-hover table-dark">
        <thead class="thead-light">
        <tr>
            <th scope="col" style="margin: auto">ID</th>
            <th scope="col" style="margin: auto">GOSPODARZE</th>
            <th scope="col" style="margin: auto">GOSCIE</th>
            <th scope="col" style="margin: auto">DATA</th>
            <th scope="col" style="text-align: center">KURS</th>
            <th scope="col" style="margin: auto">
                <a th:href="@{/match?action=ALL_MATCHES}" >
                    UKRYJ
                </a>
            </th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="matchWS:${listW}">
            <th scope="row" style="text-align: center" th:text="${matchWS.id}">1</th>
            <th scope="row" style="text-align: center" th:text="${matchWS.gospodarze}">2</th>
            <th scope="row" style="text-align: center" th:text="${matchWS.goscie}">3</th>
            <th scope="row" style="text-align: center" th:text="${matchWS.date}">4</th>
            <th scope="row" style="text-align: center" th:text="${matchWS.rate}">4</th>
            <th scope="row" style="text-align: center" th:if="${matchWS.outcome!=null}"><a th:text="${matchWS.outcome}"></a> </th>
            <th scope="row" style="text-align: center" th:if="${matchWS.outcome==null}">
                <a th:text="--">--</a>
            </th>
        </tr>
        </tbody>
    </table>

</div>
</body>
</html>