<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

</head>
<body background="https://layout.eurosport.com/i/v8/match/backgrounds/large/background_v8_s22.jpg">

<div class="container" th:width="400">
    <a th:href="@{/matchEdit}" class="btn btn-primary">Edytuj listę</a>
    <a th:href="@{/}" class="btn btn-primary">Strona główna</a>
    <table class="table table-hover table-dark">
        <thead class="thead-light">
        <tr>
            <th scope="col" style="margin: auto">ID</th>
            <th scope="col" style="margin: auto">GOSPODARZE</th>
            <th scope="col" style="margin: auto">GOSCIE</th>
            <th scope="col" style="margin: auto">DATA</th>
            <th scope="col" style="text-align: center">KURS</th>
            <th scope="col" style="margin: auto">
                <a th:href="@{/allMatches}" >
                    UKRYJ
                </a>
            </th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="matchWS:${listW}">
        <tr th:each="match:${listW}">
            <th scope="row" style="text-align: center;background: aliceblue" th:if="${match==listW.get(0)}"><a  style="color: black" th:text="${listW.get(0).id}"></a></th>
            <th scope="row" style="text-align: center;" th:if="${match!=listW.get(0)}"><a  th:text="${match.id}"></a></th>
            <th scope="row" style="text-align: center;background: aliceblue" th:if="${match==listW.get(0)}"><a  style="color: black" th:text="${listW.get(0).gospodarze}"></a></th>
            <th scope="row" style="text-align: center;" th:if="${match!=listW.get(0)}"><a  th:text="${match.gospodarze}"></a></th>
            <th scope="row" style="text-align: center;background: aliceblue" th:if="${match==listW.get(0)}"><a  style="color: black" th:text="${listW.get(0).goscie}"></a></th>
            <th scope="row" style="text-align: center;" th:if="${match!=listW.get(0)}"><a  th:text="${match.goscie}"></a></th>
            <th scope="row" style="text-align: center;background: aliceblue" th:if="${match==listW.get(0)}"><a  style="color: black" th:text="${listW.get(0).date}"></a></th>
            <th scope="row" style="text-align: center;" th:if="${match!=listW.get(0)}"><a  th:text="${match.date}"></a></th>
            <th scope="row" style="text-align: center;background: aliceblue" th:if="${match==listW.get(0)}"><a  style="color: black" th:text="${listW.get(0).rate}"></a></th>
            <th scope="row" style="text-align: center;" th:if="${match!=listW.get(0)}"><a  th:text="${match.rate}"></a></th>
            <th scope="row" style="text-align: center;background: aliceblue" th:if="${match==listW.get(0)&&match.outcome==null}"><a style="color: black" th:text="--"></a></th>
            <th scope="row" style="text-align: center;background: aliceblue" th:if="${match==listW.get(0)&&match.outcome!=null}"><a style="color: black" th:text="${match.outcome}"></a></th>
            <th scope="row" style="text-align: center" th:if="${match!=listW.get(0)&&match.outcome==null}"><a th:text="--"></a></th>
            <th scope="row" style="text-align: center" th:if="${match!=listW.get(0)&&match.outcome!=null}"><a th:text="${match.outcome}"></a></th>
        </tr>
        </tbody>
    </table>

</div>
</body>
</html>