<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Logowanie</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body background="https://layout.eurosport.com/i/v8/match/backgrounds/large/background_v8_s22.jpg">
<div class="container" style="width: 100px">
    <h2 style="color: aliceblue">Logowanie</h2>
    <form th:action="@{/login}" method="post">
        <input type="text" name="username"/> <br/>
        <input type="password" name="password"/> <br/>
        <input type="submit" value="Zaloguj"/> <br/>
    </form>
    <a th:href="@{/}" class="btn btn-primary">Strona główna</a>
</div>
</body>
</html>