<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Form</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

</head>
<body background="https://layout.eurosport.com/i/v8/match/backgrounds/large/background_v8_s22.jpg">

<div style="width: 500px;margin: auto">
    <h4 style="color: aliceblue;">WYBIERZ MECZ, KTÓRY CHCESZ EDYTOWAĆ</h4>
    <form th:action="@{/updateScore}" id="edit" method="post">
        <div class="input-group mb-3" style="width: 500px;margin: auto">
            <div class="input-group-prepend">
                <label class="input-group-text" for="inputGroupSelect02">Wybierz</label>
            </div>

            <select class="custom-select" name="matchID" form="edit" id="inputGroupSelect02" required>
                <option value="" selected="selected">Mecz...</option>
                <option th:each="match:${listToUpdate}" th:value="${match.id}" th:text="${match}">
                </option>
            </select>
        </div>
        <div class="input-group mb-3" style="width: 500px;margin: auto">
            <div class="input-group-prepend">
                <label class="input-group-text" for="inputGroupSelect03">Wybierz</label>
            </div>

            <select class="custom-select" name="score" form="edit" id="inputGroupSelect03" required>
                <option value="" selected="selected">Wynik...</option>
                <option th:each="score:${scoreList}" th:value="${score}" th:text="${score}">
                </option>
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Dodaj wynik</button>
    </form>
    <br>
<div></div>
<div></div>
<div></div>
    <h4 style="color: aliceblue">WYBIERZ MECZ, KTÓRY CHCESZ USUNĄĆ</h4>
    <form th:action="@{/removeMatch}" id="remove" method="post">
        <div class="input-group mb-3" >
            <div class="input-group-prepend">
                <label class="input-group-text" for="inputGroupSelect01">Wybierz</label>
            </div>

            <select class="custom-select" name="matchID" form="remove" id="inputGroupSelect01" required>
                <option value="" selected="selected">Mecz...</option>
                <option th:each="match:${listToRemove}" th:value="${match.id}" th:text="${match}">
                </option>
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Usuń mecz z bazy</button>
    </form>
</div>
</body>
</html>